body {
font-family: 'Roboto', Arial, Helvetica, sans-serif;
background-color: #4FABDC;
color: black;
padding: 5%;
  }

div.byline {
  color: black;
}

nav ul {
    display: flex;
    background-color: #4FABDC;
    padding: 5%;
}

li {
  margin: 5%;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

main {
  margin: auto;
  width: 80%;
}

address {
  display: inline-block;
}

hr {
  margin: 1em;
  width: 80%;
}

footer {
  margin: 5%;
  align-self: center;
}
